.header{
    color: blue;
}

.white-text{
    color: white;
}

.navbar-space{
    background-color: #184e77;
    color: white;
    padding: 10px 0px;
}

.navbar-main{
    display: flex;
    flex-direction: row;
    background-color: #184e77;
    color: white;
    padding: 20px 25px;
    font-size: 25px;
}

.navbar-main-text{
    margin-left: 15px;
}

.green-line{
    background-color: #028090;

}