<!DOCTYPE html>
<html>
    <head>
        <meta charset = "UTF-8">
        <title>AnimalsFarm</title>
        <link rel = "stylesheet" href = "css/animals.css" >
        <link rel = "stylesheet" href = "/css/bootstrap.min.css" >
        <script src = "/js/bootstrap.min.js"></script>
    </head>
    <body>
        <h1 class="header">This is the homepage for animals farm</h1>
        <h2>Beta Version: <%= random %></h2>
    </body>
</html>