<!DOCTYPE html>
<html>
    <head>
        <meta charset = "UTF-8" >
        <title>BookSpace</title>
        <link rel = "stylesheet" href = "css/crypto.css" >
        <link rel = "stylesheet" href = "/css/bootstrap.min.css" >
        <script src = "/js/bootstrap.min.js"></script>
    </head>
    <body>
        <nav>
            <div class="navbar-main">
                <div>
                    <img src="https://res.cloudinary.com/kartik09/image/upload/v1683728246/book-stack_uz0p4g.png" width="40" height="40" alt="logo"  />
                </div>
                <div class="navbar-main-text">BookWise</div>
            </div>
            <div class="green-line"><br></div>
        </nav>
        
        <main class="cryptospace-main-section">
            <!-- the dashboard -->
            <div class="dashboard-master-container-1">

            </div>
        </main>
    </body>
</html>

<!-- All the things that you insert in <%= %> will be evaluated and its value will be displayed
 and all the values that you insert in <% %> will be treated as JS scripts -->

 <!-- <img src="https://res.cloudinary.com/kartik09/image/upload/v1683728246/book-stack_uz0p4g.png" width="30" height="30" alt="logo"  /> -->