<div class="container">
	<footer class="card bg-white rounded shadow-sm mb-5 mt-3">
		<div class="card-body">
			<div class="d-flex justify-content-between align-items-center w-100">
				<div class="card-text">
					<span class="text-gray-dark">Powered by <a href="https://github.com/komekez">Kaustubh Github</a>.</span>
				</div>
			</div>			
		</div>
	</footer>
</div>

</body>
</html>
